.card-wrapper {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: box-shadow 0.3s ease;
    border-radius: 20px;

  }
  
  .card-wrapper:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  
  .card-wrapper::before,
  .card-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
  }
  
  .card-wrapper::before {
    left: -30px;
  }
  
  .card-wrapper::after {
    right: -30px;
  }
  
  .card-wrapper:hover::before,
  .card-wrapper:hover::after {
    background-color: rgba(255, 255, 255, 0.2);
  }